@font-face {
  font-family: 'iconfont';  /* project id 786373 */
  src: url('http://at.alicdn.com/t/font_786373_nnbiwajf11.eot');
  src: url('http://at.alicdn.com/t/font_786373_nnbiwajf11.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_786373_nnbiwajf11.woff') format('woff'),
  url('http://at.alicdn.com/t/font_786373_nnbiwajf11.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_786373_nnbiwajf11.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before { content: "\e790"; }

.icon-codeQR:before { content: "\e6f8"; }

.icon-coins:before { content: "\e6f9"; }

.icon-coupon:before { content: "\e6fa"; }

.icon-emoji:before { content: "\e6fc"; }

.icon-explore:before { content: "\e6fd"; }

.icon-heart:before { content: "\e700"; }

.icon-home:before { content: "\e701"; }

.icon-history:before { content: "\e702"; }

.icon-like:before { content: "\e704"; }

.icon-flower:before { content: "\e703"; }

.icon-king:before { content: "\e705"; }

.icon-list:before { content: "\e707"; }

.icon-menu:before { content: "\e709"; }

.icon-money:before { content: "\e70e"; }

.icon-refresh:before { content: "\e714"; }

.icon-scan:before { content: "\e716"; }

.icon-search:before { content: "\e717"; }

.icon-share:before { content: "\e718"; }

.icon-send:before { content: "\e719"; }

.icon-share1:before { content: "\e71a"; }

.icon-shopping:before { content: "\e71b"; }

.icon-unlock:before { content: "\e71f"; }

.icon-user:before { content: "\e721"; }

.icon-trashCan:before { content: "\e724"; }

.icon-arrowRight:before { content: "\e726"; }

.icon-arrowLeft:before { content: "\e727"; }

.icon-correct:before { content: "\e728"; }

.icon-minus:before { content: "\e729"; }

.icon-arrowUp:before { content: "\e72a"; }

.icon-arrowDown:before { content: "\e72b"; }

